{% extends 'website/base.html' %}
{% load static %}
{% block body %}

<main class="main">

    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Contact</h2>
            <p>Ways to contact me</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-5">
                    <div class="info-wrap">
                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-geo-alt flex-shrink-0"></i>
                            <div>
                                <h3>Address</h3>
                                <p>West-Azarbijan, Urmia</p>
                            </div>
                        </div><!-- End Info Item -->

                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-telephone flex-shrink-0"></i>
                            <div>
                                <h3>Call Us</h3>
                                <p>+98-09911416375</p>
                            </div>
                        </div><!-- End Info Item -->

                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h3>Email Us</h3>
                                <p>sahandmotallebii@gmail.com</p>
                            </div>
                        </div><!-- End Info Item -->

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4476.038253963911!2d45.05339499766729!3d37.50704542761085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4005536391c23f05%3A0x4c2471f0fd99e701!2sUrmia%2C%20West%20Azerbaijan%20Province%2C%20Iran!5e0!3m2!1sen!2s!4v1724322281657!5m2!1sen!2s" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                <div class="col-lg-7">
                    <form action="{% url 'website:contact' %}" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200" id="contact-form">
                        {% csrf_token %}
                        <div class="row gy-4">

                            <div class="col-md-6">
                                <label for="name-field" class="pb-2">Your Name</label>
                                <input type="text" name="name" id="name-field" class="form-control" required="">
                            </div>

                            <div class="col-md-6">
                                <label for="email-field" class="pb-2">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email-field" required="">
                            </div>

                            <div class="col-md-12">
                                <label for="subject-field" class="pb-2">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject-field" required="">
                            </div>

                            <div class="col-md-12">
                                <label for="message-field" class="pb-2">Message</label>
                                <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="error-message" style="display:none;color:white;"></div>
                                <div class="sent-message" style="display:none;color:white;">Your message has been sent. Thank you!</div>

                                <button type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div><!-- End Contact Form -->

            </div>

        </div>

    </section><!-- /Contact Section -->

</main>

<!-- جاوااسکریپت برای مدیریت پیام‌ها -->
<script>
    document.querySelector('#contact-form').addEventListener('submit', function(event) {
        event.preventDefault(); // جلوگیری از ارسال پیش‌فرض فرم

        let form = this;
        let errorMessageElement = document.querySelector('.error-message');
        let sentMessageElement = document.querySelector('.sent-message');

        // پنهان کردن پیام‌های قبلی
        errorMessageElement.style.display = 'none';
        sentMessageElement.style.display = 'none';

        // ارسال فرم با استفاده از Fetch API
        fetch(form.action, {
            method: 'POST',
            body: new FormData(form),
        }).then(response => {
            if (response.ok) {
                // نمایش پیام موفقیت
                sentMessageElement.style.display = 'block';
                sentMessageElement.textContent = 'Your message has been sent successfully!'; // پیام موفقیت

                // تأخیر ۳ ثانیه قبل از ریدایرکت
                setTimeout(() => {
                    window.location.href = "/about"; // ریدایرکت به صفحه مورد نظر
                }, 3000); // 3000 میلی‌ثانیه برابر با ۳ ثانیه
            } else {
                // نمایش پیام خطا
                errorMessageElement.style.display = 'block';
                errorMessageElement.textContent = 'Form submission failed. Please try again.';
            }
        }).catch(error => {
            // نمایش پیام خطا
            errorMessageElement.style.display = 'block';
            errorMessageElement.textContent = error.message;
        });
    });
</script>

{% endblock %}
