{% extends 'website/base.html' %}
{% load static %}
{% block body %}

  <main class="main">

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>My Work History</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Sumary</h3>

            <div class="resume-item pb-0">
              <h4>Sahand Motallebi</h4>
              <p><em>Experienced developer proficient in using the Django framework with a focus on web development. Highly skilled in Python programming and well-versed in Dart and JavaScript. Competent in using Git for version control and Docker for containerization. Additionally, fully familiar with the Linux operating system and capable of working with it in development and server environments.</em></p>
              <ul>
                <li>Iran/West-Azarbijan/Urmia</li>
                <li>(98) 09306908476</li>
                <li>sahandmotallebii@gmail.com</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor's Degree in Computer Engineering</h4>
              <h5>2021-2025</h5>
              <p><em>Islamic-Azad-univercity</em></p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Specialist in Django Framework</h4>
              <h5>2021 - Present</h5>
              <p><em>DNW</em></p>
              <p>Designing Various Websites Including Blogs, E-commerce, and More</p>
            </div><!-- Edn Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Senior Python Developer</h4>
              <h5>2020 - Present</h5>
              <p><em>Experion, Urmia </em></p>
              <ul>
                <li>Developed penetration testing scripts using Python</li>
                <li>web scraping projects</li>
                <li>automation scripts</li>
                <li>Telegram bots projects</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>OTHER SKILLS</h4>
              <h5>2021 - Present</h5>
              <p><em>Experion, Urmia</em></p>
              <ul>
                <li>JavaScript</li>
                <li>Linux</li>
                <li>Docker</li>
                <li>Git</li>
                <li>WordPress</li>
                <li>HTML & CSS</li>
              </ul>
            </div><!-- Edn Resume Item -->

          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->

  </main>

  {% endblock %}